
body{
    margin: 90px;
    font-family: 'Titillium Web', sans-serif;
}
    h1{
    color: darkred;
}
h2{
    color: darkslateblue;
}
.image-container{
    text-align: center;
}
img{
    margin-left: auto;
}